<h1>
	Data Visualization Postings
	<small><%= link_to "Add a new post", new_post_url %></small>
</h1>

<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, "/posts/#{post.id}" %></li>
  <% end %>
</ul>